/*estils css*/

.header {
  padding: 2% ;
  text-align: left;
  background: #232323;
  color: white;
   overflow: hidden;
  background-color: #333;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}
.header2 {

  padding: 10%;
  text-align: left;
  align-content: center;
  color: white;
}

.header a {

  float: left;
  color: white;
  text-align: right;
  text-decoration: none;
  font-size: 250%;
  line-height: 1%;
  border-radius: 10%;

}

.row{
    text-align: center;
    margin: auto;
}

@media (min-width: 768px){
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}}

.body{
  background-color: mediumaquamarine;
}

.header a:hover {
  background-color: white;
  color: wheat;
}

.header a.logo {
  font-size: 250%;
  font-weight: bold;
}

.header-right {
  float: right;
  color: white;
  font-size: 65%;
  top: 10px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;

  }
}
