[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-bootstrap-datepicker-plus = "==3.0.5"
django-bootstrap4 = "==1.1.1"
django-crispy-forms = "==1.9.0"
django-tempus-dominus = "==5.1.2.13"
Django = "<3.1.0,>=3.0.2"
Pillow = "==7.0.0"

[requires]
python_version = "3.8"
