{% extends "base.html" %}
{% load static %}

{% block page_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total de la reserva</title>
</head>
<body style="background-color: mediumaquamarine">

    <main role="main" class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">Estat de les reserves actuals</h1>
        <p class="lead">Has realitzat un total de {{ num_reservations }} reserva.</p>
          <p>Preu total: {{ total_price|floatformat:2 }}€ (IVA inclòs)</p>
        <p>Vols finalitzar amb el procés de reserva ?</p>
          <div class="current-reserves-buttons">
               <a style="margin-right: 2%" class="btn btn-sm btn-secondary" href="{% url 'installations' %}" role="button">Continuar reservant</a>
               <a style="margin-right: 2%" class="btn btn-sm btn-primary" href="{% url 'formalize_reserves' user.username %}" role="button">Acabar amb el procés de reserva</a>
               <a style="text-decoration: underline; color: red" href="{% url 'cancel_cart' user.username %}" >Cancel·lar procés de reserva</a>
          </div>
      </div>
    </main>



</body>
</html>

{% endblock %}