{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear esdeveniment</title>
</head>
<body class="body">
    <div style="padding-top: 2%" class="container">
        <h1>Crea l'esdeveniment per la instal·lació {{ installation.name }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div style="margin-bottom: 2%" class="row">
                    <a style="margin-left: 1.4%" class="btn btn-sm btn-warning" href="{% url 'create_team' installation.pk %}">Afegir nou equip</a>
            </div>
            <div style="margin-bottom: 7%">
                <button style="float: left" class="btn btn-sm btn-primary" type="submit">Crea esdeveniment</button>
                <a class="cancel-staff-button" href="{% url 'index' %}">Cancel·la</a>
            </div>
        </form>
    </div>
</body>
</html>

{% endblock %}