{% extends "base.html" %}

{% block page_content %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Installation List</title>
</head>
<body class="body">

      <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" style="width:200px;right:0; background-color: darkslategray; color: white;" id="mySidebar">
        <p style="padding: 15px; font-family: 'Arial'; font-size: large ">Flitra per esports:</p>
        <a href="/Futbol" class="w3-bar-item w3-button"> Futbol</a>
        <a href="/Tennis" class="w3-bar-item w3-button"> Tennis</a>
        <a href="/Basquet" class="w3-bar-item w3-button"> Basquet</a>
        <a href="/" class="w3-bar-item w3-button" style="font-size: large"> (Neteja el filtre)</a>
    </div>

  <script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
   <div class="container">
        {% if installations %}
      <div class="row" style="padding-top: 60px">
          {% for installation in installations %}

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="true" role="img" aria-label="Placeholder: Thumbnail"><title>Pista</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
            <image href="/apps/reservations/static/media/{{ installation.image }}" height="100%" width="100%"/>
            </svg>
            <div class="card-body">
                <p style="font-family: 'Arial Black'"> {{ installation.name }}</p>
              <p class="card-text">{{ installation.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Reserva</button>
                </div>
                <small class="text-muted">Capacitat: {{ installation.capacity }}</small>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
      {% else %}
        <h2 class="header2">NO HI HA CAP INSTAL·LACIÓ DISPONIBLE PEL MOMENT</h2>
      {% endif %}
      </div>
    </div>
</body>



{% endblock %}