{% extends "base.html" %}
{% load static %}

{% block page_content %}

<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
<link rel="stylesheet" type="text/css" href="{% static 'carousel.css' %}">

<style>
body, html {
  height: 100%;
  margin: 0;
}

</style>

<body class="text-center"  >
<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" >
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1" class=""></li>
          <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="true" role="img" aria-label="Placeholder: Thumbnail"><title>Pista</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                <image href="{% static 'media/PIGALLE-BASKETBALL-2017-34.jpg'%}" height="100%" width="100%"></image>
            </svg>
            <div class="container">
              <div class="carousel-caption">
                <h2 id='visor_imagenes'><span class="blanco-rojo">inicia sessió</span></h2>
{#                <p style="color:#098bea;">inicia sessió</p>#}
                <p><a class="btn btn-lg btn-primary" href="{% url 'login' %}" role="button">Sign in</a></p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
{#            <image href="{% static 'media/'%}{{ installation.image }}" height="100%" width="100%"></image>#}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="true" role="img" aria-label="Placeholder: Thumbnail"><title>Pista</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                <image href="{% static 'media/11setembre.jpg'%}" height="100%" width="100%"></image>
            </svg>
            <div class="container">
              <div class="carousel-caption">
                <h1>prova</h1>
{#                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>#}
                <p><a role="button" class="btn btn-lg btn-primary" href="{% url 'current_planning' %}">Planificació actual</a></p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="true" role="img" aria-label="Placeholder: Thumbnail"><title>Pista</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                <image href="{% static 'media/camp_futbol.jpg'%}" height="100%" width="100%"></image>
            </svg>
            <div class="container">
              <div class="carousel-caption">
                <h1>una altre prova.</h1>
                <p>prova2</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>

    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" alt="Generic placeholder image" src="{% static 'media/11Setembre.jpg'%}" width="140" height="140">
        <h2>Pavelló d'hoquei</h2>
        <p>exemple1</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" alt="Generic placeholder image" src="{% static 'media/PIGALLE-BASKETBALL-2017-34.jpg'%}" width="140" height="140">
        <h2>Pista de bàsquet exterior</h2>
        <p>exemple1</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" alt="Generic placeholder image" src="{% static 'media/camp_futbol.jpg'%}" width="140" height="140">
        <h2>Camp de fútbol</h2>
        <p>exemple1</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>





{% comment %}<div class="bg">
      <div class="row justify-content-center align-items-center minh-100">
            <main role="main" class="inner cover">
                <h1 class="cover-heading text-white">Descripció</h1>
                <p class="lead text-white bg-dark">Aquí expliquem una mica de que va la nostra aplicació</p>
                <p class="lead">
                  <a href="#" class="btn btn-lg btn-secondary">sign up</a>
                </p>
            </main>
      </div>
</div>{% endcomment %}



</body>
{% endblock %}