{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation page {{ installation.name }}</title>
</head>
<body>
    <div class="row-reservation margin">
        <h1 style="text-align: center; margin-bottom: 2%">{{ installation.name }}</h1>
        <div class="column-reservation">
            <h3>{{ date }}</h3>
            <p>Hores disponibles:</p>
            <ul>
                {% for start, end in total_hours %}
                    {% if start in hours_available %}
                        <li><p style="color: green">{{ start }} - {{ end }}</p></li>
                    {% else %}
                        <li><p style="color: red">{{ start }} - {{ end }}</p></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="column-reservation">
            <h3>Fes una reserva:</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Reserva</button>
            </form>
            <h3 style="margin-top: 5%">Les teves reserves fins ara:</h3>
        </div>
    </div>

    </div>
</body>
</html>

{% endblock %}