{% extends "dashboard.html" %}
{% load crispy_forms_tags %}

{% block dashboard_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crea instal·lació</title>
</head>
<body>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Crea una nova instal·lació</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div style="margin-bottom: 2%" class="row">
                    <a style="margin-left: 1.4%" class="btn btn-sm btn-warning" href="{% url 'dashboard-create-sport' %}">Afegir nou esport</a>
                </div>
                <div style="margin-bottom: 7%">
                    <button style="float: left" class="btn btn-sm btn-primary" type="submit">Crea instal·lació</button>
                    <a class="cancel-staff-button" href="{% url 'dashboard-installations' %}">Cancel·la els canvis</a>
                </div>
            </form>
        </div>
      </div>
    </div>
</body>
</html>

{% endblock %}