{% extends "dashboard.html" %}
{% load crispy_forms_tags %}

{% block dashboard_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ installation.name }}</title>
</head>
<body>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ installation.name }}</h1>
        <button type="button" class="btn btn-danger">Elimina aquesta instal·lació</button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button style="float: left" class="btn btn-sm btn-primary" type="submit">Desa els canvis</button>
                <a class="cancel-staff-button" href="#">Cancel·la els canvis</a>
            </form>
        </div>
      </div>
    </div>
</body>
</html>

{% endblock %}