{% extends "dashboard.html" %}
{% load static %}

{% block dashboard_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ installation.name }}</title>
</head>
<body>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">{{ installation.name }}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
            <p><label for="Name">Nom pista:</label></p>
            <p><input type="text" id="Name" name="Name" /></p>
            <p><label for="Name">Descripció:</label></p>
            <p><input type="text" id="Name" name="Name" /></p>
            <p><label for="Name">Capacitat:</label></p>
            <p><input type="text" id="Name" name="Name" /></p>
            <p><label for="Name">Categories/Esports:</label></p>
            <p><input type="text" id="Name" name="Name" /></p>
            <br>
            <p><a href="#" class="text-danger">Elimina aquesta instal·lació</a></p>
        </div>
        <div class="col">
            <p><label for="Name">Foto adjunta:</label></p>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Selecciona un arxiu</label>
              </div>
            <br>
            </div>
            <br>
            <img src="http://placehold.it/250x250" class="img-fluid" />
            <br>
            <br>
            <div class="row">
                <div class="col">
                </div>

                <div class="col">
                </div>

                <div class="col">
                    <button class="btn btn-danger">CANCEL·LA</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary">GUARDAR</button>
                </div>
            </div>
        </div>
      </div>
    </div>
</body>
</html>

{% endblock %}